#header-container {
    margin: 0px;
}

#header {
    grid-area: header;
    height: 200px;
    background-image: url("../images/header-image/pizza.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: inherit;
    padding: 0px;
}

#flash-container {
    margin: 0px;
    text-align: center;
}

#card-body-register {
   /* display: none;*/
}
/*
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}*/
