#header-container {
    margin: 0px;
}


#header {
    grid-area: header;
    height: 200px;
    background-image: url("../images/header-image/pizza.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: inherit;
    padding: 0px;
}
